body { font-family: 'Inter', sans-serif; }
.habib-green { color: #1b5e20; }
.bg-habib-green { background-color: #1b5e20; }
.border-habib-green { border-color: #1b5e20; }
.hover-habib-green:hover { background-color: #144618; }
